<div class="grid grid-cols-1 lg:grid-cols-3 h-full">

  <!-- Left: Product catalog (2/3 width) -->
  <div class="lg:col-span-2 p-6 overflow-y-auto">
    <app-product-search-bar [(searchTerm)]="searchTerm"></app-product-search-bar>

    <app-category-filter
      [categories]="categories"
      [activeCategory]="activeCategory()"
      (categoryChange)="onCategoryChange($event)"
    ></app-category-filter>

     <app-product-grid
      [products]="filteredProducts()"
      (addToCart)="onAddToCart($event)"
    ></app-product-grid> 
  </div>

  <!-- Right: Current bill (1/3 width) -->
  <div class="border-l border-gray-200 bg-white flex flex-col h-full">
    <app-current-bill
      [cartItems]="cartItems()"
      (removeItem)="onRemoveFromCart($event)"
      (hold)="onHold()"
      (clear)="onClearCart()"
    ></app-current-bill>
  </div>

</div>